<template>
  <div id="link-menu-section" class="container menu-card">
    <p class="menu-card__title color-4">La Carta</p>
    <img class="image-section" :src="require(`../../assets/img/carta.png`)">
  </div>
</template>

<script>
export default {
  name: "MenuCard",
};
</script>

<style lang="scss">
  .menu-card {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;

    @media only screen and (max-width: 800px) {
        font-size: 35px;
      }

    &__title {
      font-size: 45px;
      font-family: "Uchen", serif;
    }
  }

  .image-section {
    width: 100%;
  }

@media only screen and (max-width: 800px) {
  .menu-card {   
     margin-top: 2rem;

    &__title {
      font-size: 35px;
   }
  }
}
</style>
