<template>
  <div class="container contact-form">
    <div class="row">
      <div class="col">
        <p class="contact-form__title font-1 color-4">Reservation Form</p>
      </div>
    </div>
    <form action="https://formsubmit.co/tomodachibcn@gmail.com" method="POST" role="form">
      <div class="contact-form__form">
        <div class="form-group">
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            placeholder="Your Name*"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Your Email*"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="tel"
            maxlength="14"
            class="form-control"
            name="phone"
            id="phone"
            placeholder="Your Phone*"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="date"
            name="date"
            class="form-control"
            id="date"
            placeholder="Date"
            required
            v-model="currentDate"
            :min="currentDate"
          />
        </div>
        <div class="form-group">
          <select
            class="form-select"
            name="reservationTime"
            id="reservationTime"
            required
          >
            <option value="" disabled selected>Select your time</option>
            <option
              v-for="(time, index) in reservationTime"
              :value="time"
              :key="index"
            >
              {{ time }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <input
            type="number"
            class="form-control"
            name="people"
            id="people"
            placeholder="No. of people*"
            required
          />
        </div>
        <div class="form-group">
          <textarea
            rows="8"
            class="form-control"
            name="message"
            placeholder="Message (optional)"
          ></textarea>
        </div>
      </div>
      <button class="btn btn-primary my-3" @click="submitform">
        Book a Table
      </button>
    </form>
  </div>
</template>
<script>
export default {
  name: "ContactForm",
  data() {
    return {
      currentDate: null,
      currentTime: null,
      reservationTime: [
        "13:00",
        "13:30",
        "14:00",
        "14:30",
        "15:00",
        "16:00",
        "19:30",
        "20:00",
        "20:30",
        "21:00",
        "21:30",
        "22:00",
        "22:30",
        "23:00",
        "23:30",
      ],
    };
  },
  mounted() {
    var date = new Date();
    this.currentDate = date.toISOString().substr(0, 10);
    this.currentTime = date.getHours() + ":" + date.getMinutes();
  },
  methods: {
    submitform() {
      const ok = false;
      if (ok) {
        fetch("https://formsubmit.co/ajax/your@email.com", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: JSON.stringify({
            name: "FormSubmit",
            message: "I'm from Devro LABS",
          }),
        })
          .then((response) => response.json())
          .then((data) => console.log(data))
          .catch((error) => console.log(error));
      }
    },
  },
};
</script>
<style scoped lang="scss">
// select {
//   width: 100%;
// }
.contact-form {
  padding: 10px;
  &__title {
    font-size: 45px;
    font-family: "Uchen", serif;
    padding: 0px;
    margin-top: 0px;
    @media only screen and (max-width: 800px) {
      font-size: 35px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}

.btn-primary {
  background-color: #003f5c;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    background-color: #01202e !important;
    transform: scaleX(1.1) scaleY(1.1);
    border-color: none !important;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }
}
</style>
