<template>
  <div id="link-reservations-sub-section">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <p class="font-4 module-title color-4">{{ title }}</p>
        </div>
      </div>
      <div class="row reservation-options">
        <div class="col-md-6">
          <a href="tel:+934 57 47 84" class="reserve-button font-3 btn btn-lg">
            <i class="fas fa-phone" aria-hidden="true"></i> {{ callUsText }}</a>
        </div>
        <div class="col-md-6">
          <a href="mailto:hermanos@restaurantecasamuyo.com" class="reserve-button btn font-3 btn-lg">
          <i class="fas fa-envelope"></i> Email</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Reservations",
  computed: {
    title: function() {
      return this.getReservationData().title;
    },
    callUsText: function() {
      return this.getReservationData().callUs;
    },
  },
  methods: {
    getReservationData: function() {
      return this.$store.getters.currentData.reservations;
    },
  },
};
</script>

<style scoped>
#link-reservations-sub-section {
  margin-top: 25px;
  margin-bottom: 25px;
}

.reservation-options {
    padding: 20px;
}

.reserve-button {
    margin: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: orange;
}

.reserve-button:hover {
  background-color: gold;
}
</style>
