@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Hind+Madurai&family=Uchen&display=swap");


.bcolor-main {
  background-color: #f9ead0;
}

.bcolor-secondary {
  background-color: #383838;
}

.color-primary {
  color: #f9ead0;
}


.font-1 {
  font-family: "Uchen", serif;
}

.font-2 {
  font-family: "Hind Madurai", sans-serif;
}

.font-3 {
  font-family: "Comfortaa", cursive;
}

.module-title {
  font-size: 45px;

  @media only screen and (max-width: 800px) {
    font-size: 35px;
  }
  font-family: "Uchen", serif;
  padding: 0px;
  margin: 0px;
}

.module-subtitle {
  font-family: "Hind Madurai", sans-serif;
  font-weight: bold;
  font-size: 23px;

  @media only screen and (max-width: 800px) {
    font-size: 18px;
  }
}

.color-1 {
  color: #080708;
}

.color-2 {
  color: #fb9a23;
}

.color-3 {
  color: #ebf38b;
}

.color-4 {
  color: #003f5c;
}

.color-5 {
  color: #f4f7f5;
}

.bcolor-1 {
  background-color: #080708;
}

.bcolor-2 {
  background-color: #fb9a23;
}

.bcolor-3 {
  background-color: #ebf38b;
}

.bcolor-4 {
  background-color: #fb9a23;
}

.bcolor-5 {
  background-color: #f4f7f5;
}

body {
  background-color: #f4f7f5;
}
/* reset */
body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.h-zigzag-color-4 {
  background: linear-gradient(-135deg, #003f5c 10px, transparent 0) 0 5px,
    linear-gradient(135deg, #003f5c 10px, #fff 0) 0 5px;
  background-color: #003f5c;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 20px 20px;
}
